UnicodeEncodeError: 'latin-1' codec can't encode character '\u2026' in position 57: ordinal not in range(256)

Getting a cryptic exception when running the following snippet:

```
from googleapiclient.discovery import build
from google.oauth2 import credentials

access_token = "<access token from a JS auth response>"
creds = credentials.Credentials(access_token)
drive = build('drive', 'v3', credentials=creds)
files = drive.files().list().execute()

---------------------------------------------------------------------------
UnicodeEncodeError                        Traceback (most recent call last)
<ipython-input-6-76b44e24404f> in <module>
----> 1 files = drive.files().list().execute()

/usr/local/lib/python3.7/site-packages/googleapiclient/_helpers.py in positional_wrapper(*args, **kwargs)
    132                 elif positional_parameters_enforcement == POSITIONAL_WARNING:
    133                     logger.warning(message)
--> 134             return wrapped(*args, **kwargs)
    135
    136         return positional_wrapper

/usr/local/lib/python3.7/site-packages/googleapiclient/http.py in execute(self, http, num_retries)
    927             method=str(self.method),
    928             body=self.body,
--> 929             headers=self.headers,
    930         )
    931

/usr/local/lib/python3.7/site-packages/googleapiclient/http.py in _retry_request(http, num_retries, req_type, sleep, rand, uri, method, *args, **kwargs)
    189         try:
    190             exception = None
--> 191             resp, content = http.request(uri, method, *args, **kwargs)
    192         # Retry on SSL errors and socket timeout errors.
    193         except _ssl_SSLError as ssl_error:

/usr/local/lib/python3.7/site-packages/google_auth_httplib2.py in request(self, uri, method, body, headers, redirections, connection_type, **kwargs)
    223             redirections=redirections,
    224             connection_type=connection_type,
--> 225             **kwargs
    226         )
    227

/usr/local/lib/python3.7/site-packages/httplib2/__init__.py in request(self, uri, method, body, headers, redirections, connection_type)
   1707                 else:
   1708                     (response, content) = self._request(
-> 1709                         conn, authority, uri, request_uri, method, body, headers, redirections, cachekey,
   1710                     )
   1711         except Exception as e:

/usr/local/lib/python3.7/site-packages/httplib2/__init__.py in _request(self, conn, host, absolute_uri, request_uri, method, body, headers, redirections, cachekey)
   1422             auth.request(method, request_uri, headers, body)
   1423
-> 1424         (response, content) = self._conn_request(conn, request_uri, method, body, headers)
   1425
   1426         if auth:

/usr/local/lib/python3.7/site-packages/httplib2/__init__.py in _conn_request(self, conn, request_uri, method, body, headers)
   1345                 if conn.sock is None:
   1346                     conn.connect()
-> 1347                 conn.request(method, request_uri, body, headers)
   1348             except socket.timeout:
   1349                 conn.close()

/usr/local/lib/python3.7/http/client.py in request(self, method, url, body, headers, encode_chunked)
   1275                 encode_chunked=False):
   1276         """Send a complete request to the server."""
-> 1277         self._send_request(method, url, body, headers, encode_chunked)
   1278
   1279     def _send_request(self, method, url, body, headers, encode_chunked):

/usr/local/lib/python3.7/http/client.py in _send_request(self, method, url, body, headers, encode_chunked)
   1316
   1317         for hdr, value in headers.items():
-> 1318             self.putheader(hdr, value)
   1319         if isinstance(body, str):
   1320             # RFC 2616 Section 3.7.1 says that text default has a

/usr/local/lib/python3.7/http/client.py in putheader(self, header, *values)
   1248         for i, one_value in enumerate(values):
   1249             if hasattr(one_value, 'encode'):
-> 1250                 values[i] = one_value.encode('latin-1')
   1251             elif isinstance(one_value, int):
   1252                 values[i] = str(one_value).encode('ascii')

UnicodeEncodeError: 'latin-1' codec can't encode character '\u2026' in position 57: ordinal not in range(256)
```



Packages:

google-api-python-client==2.10.0
google-auth==1.32.0
google-auth-oauthlib==0.4.4
google-auth-httplib2==0.1.0

Hi @steverecio,

Could you try the request through the `Try this API` UI on the right hand side of [this page](https://developers.google.com/drive/api/v3/reference/files/list)? That will help narrow down the source of the issue.

Could you also share what version of `httplib2` is installed?



@busunkim96 

```
In [2]: import httplib2

In [3]: httplib2.__version__
Out[3]: '0.19.1'
```

It looks like the error is happening when the request is being [sent](https://github.com/python/cpython/blob/16ef0f9f92908cee15e4382e719f19a2dbde879e/Lib/http/client.py#L14-L21). Could you enable httplib2 debugging and check the list of headers that are being sent? (Particularly `authorization: Bearer ...` since my best guess is that the token somehow ends up with an invalid character.)

```py
import httplib2

httplib2.debuglevel = 4
```

Could you also try fetching a auth token through google-auth-oauthlib? (see [this quickstart](https://developers.google.com/drive/api/v3/quickstart/python) for reference). If that works, I think the most likely cause is the token.

I'm going to close this issue due to inactivity but please feel free to re-open it with more information.